<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>test</id>
			<properties>
        <resource.directory>${basedir}/src/main/resources/</resource.directory>
				<business.group.id>44be8843-022e-456d-bc90-2a228158d462</business.group.id>
				<business.group.name>MuleSoft Exercise Environment</business.group.name>			
				<environment.name>Sandbox</environment.name>
				<client.id>37923282df8e4b8ba2b743f7a1df1f89</client.id>
				<client.secret>Bcc118e671f843AfAC89BC1BA86B448e</client.secret>
				<app.name.prefix>tst</app.name.prefix>
			</properties>
		</profile>
    <profile>
			<id>dev</id>
			<properties>
				<resource.directory>${basedir}/src/dev/resources/</resource.directory>
				<business.group.id>44be8843-022e-456d-bc90-2a228158d462</business.group.id>
				<business.group.name>MuleSoft Exercise Environment</business.group.name>
				<environment.name>Sandbox</environment.name>
				<client.id>37923282df8e4b8ba2b743f7a1df1f89</client.id>
				<client.secret>Bcc118e671f843AfAC89BC1BA86B448e</client.secret>
				<app.name.prefix>dev</app.name.prefix>
			</properties>
		</profile>
	</profiles>

	<servers>
		<server>
			<id>MuleRepository</id>
			<username>bic.camera.inc.nexus</username>
			<password>xaAnDHcKpZjLBDN</password>
		</server>
		<server>
			<id>my.anypoint.credentials</id>
			<username>${anypoint.username}</username>
			<password>${anypoint.password}</password>
		</server>
		<server>
			<id>anypoint-exchange-v3</id>
			<username>${anypoint.username}</username>
			<password>${anypoint.password}</password>
		</server>
	</servers>
</settings>
