<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<!-- <profiles>
		<profile>
			<id>dev</id>
			<properties>
				<resource.directory>${basedir}/src/dev/resources/</resource.directory>
				<business.group.id>907ce755-d953-4825-9c0b-6c7c39e2ca07</business.group.id>
				<business.group.name>PoC BG</business.group.name>
				<environment.name>Sandbox</environment.name>
				<client.id>fc62c60ea6424bdbbad167463627a68b</client.id>
				<client.secret>b322E20b1ab649f9bF9F496B3a62D632</client.secret>
				<app.name.prefix>dev</app.name.prefix>
			</properties>
		</profile>
	</profiles> -->

	<servers>
		<server>
			<username>~~~Client~~~</username>
			<password>${connected.app.client.id}~?~${connected.app.client.secret}</password>
			<id>anypoint-exchange-v3</id>
		</server>
	</servers>
</settings>